.contact-card{
    width: 400px;
    padding: 5px;
    margin-top: 20px;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
  }
  
  .contact-name{
      font-size: 20px;
  }
  
  .m-2{
      margin: 2px
  }