/*
primary: #e65c00
secondary: #ffa366
light: #fff06
*/
.app-title{
    text-align:center;
    color:#e65c00;
    font-size:40px;
    
}
body{
    background-color: antiquewhite;
}
.contacts-container{
    
}
.add-contacts-container{
    
}
.app-body{
    display: flex;
    justify-content: space-around;
}
.sub-heading{
    text-align: center;
    font-size: 30px;
}
.user-input{
    display:block;
    font-size:25px;
    padding:5px;
    margin:30px;
    border-radius: 5px;
    border:1px solid #e65c00;
}

.btn-add-contact{
    display:block;
    font-size: 25px;
    padding:5px 30px;
    margin: 20px auto;
    background-color: #e65c00;
    color:white;
    border-radius:30px;
    border:none;
}